.title {
  color: rgb(22, 8, 102);
}
.statistics {
  text-align: center;
  width: 300px;
  margin: 20px auto;
  padding: 20px 0 0 0;
  background-color: white;
  color: grey;
}

.statList {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

